/* Coolors Exported Palette - coolors.co/545f66-829399-d0f4ea-e8fcc2-b1cc74 */

/* HSL */
$color1: hsla(203%, 10%, 36%, 1);
$color2: hsla(196%, 10%, 55%, 1);
$color3: hsla(163%, 62%, 89%, 1);
$color4: hsla(81%, 91%, 87%, 1);
$color5: hsla(78%, 46%, 63%, 1);

/* RGB */
$color1: rgba(84, 95, 102, 1);
$color2: rgba(130, 147, 153, 1);
$color3: rgba(208, 244, 234, 1);
$color4: rgba(232, 252, 194, 1);
$color5: rgba(177, 204, 116, 1);